{% extends "base.html.twig" %}

{% block title %}
    Calcul
{% endblock %}

{% block h1 %}
    Résultat du contenu
{% endblock %}

{% block body %}
   <ul>
        <li> {{ a }} x {{ b }} = {{ a * b }} </li>
        <li> {{ a }} + {{ b }} = {{ a + b }} </li>
        <li> {{ a }} - {{ b }} = {{ a - b }} </li>
        <li> {{ a }} / {{ b }} = {{ a / b }} </li>
   </ul>
{% endblock %}

